{{#each this}}
<h2 class="searched-country__name">{{name}}</h2>
<div class="wrapper">
    <section class="searched-country__info">
        <p class="searched-country__capital"><span class="text-parameter">Capital:</span> {{capital}}</p>
        <p class="searched-country__population"><span class="text-parameter">Population:</span> {{population}}</p>
        <p class="searched-country__name-list text-parameter">Languages:</p>
        <ul class="searched-country__languages">
            {{#each languages}}
            <li class="searched-country__lang">
                {{name}}
            </li>
            {{/each}}
        </ul>
    </section>
    <section class="searched-country__flag">
        <img src="{{flag}}" alt="{{name}} flag">
    </section>
</div>
{{/each}}